<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="PluralsightCoursesWF4Entities" connectionString="metadata=res://*/CourseModel.csdl|res://*/CourseModel.ssdl|res://*/CourseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PSDB;Initial Catalog=PluralsightCoursesWF4;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>